<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="../pdf-resources/css/placesPdfStyle.css" />
</head>

<body>
	
	<header>
    <img src="../pdf-resources/img/logo.png" alt="Imagen">
    <h1>Reporte del personal</h1>
    <p>Fecha: 10-10-2024</p>
	</header>
	
		<table>
	    <thead>
	        <tr>
	            <th>N° Cheque</th>
	            <th>Persona</th>
	            <th>Cantidad</th>
	            <th>Concepto</th>
	            <th>Fecha</th>
	        </tr>
	    </thead>
	    <tbody>
            <tr th:each="per: ${personas}">
				<td th:text="${per.numero_cheque}"></td>
                <td th:text="${per.nombre_persona}"></td>
                <td th:text="${per.cantidad}"></td>
                <td th:text="${per.concepto}"></td>
                <td th:text="${per.fecha}"></td>
            </tr>
        </tbody>
	</table>
	
	<div class="total">
	   <p>Total: <span th:text="${sumTotal}"></span></p>
	</div>
	
</body>

</html>

</html>